/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@layer base {
  h1 {
    @apply my-4 text-3xl font-extrabold tracking-tight text-primary-600 dark:text-primary-400 lg:text-4xl;
  }
  h2 {
    @apply mx-auto my-4 text-center text-3xl font-semibold text-gray-800 dark:text-gray-100;
  }
  h3 {
    @apply my-2 text-2xl dark:text-white;
  }
}
@tailwind components;
@tailwind utilities;
